.App
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.discordapp.com/attachments/722279740248948759/862002121883910164/unknown.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.fire
{
    position: absolute;
    left: 50px;
    top: 50px;
}

.top_title
{
    position: absolute;
    top: 70px;
    left: 150px;
    color: white;
    size: 40px;
    /* font-family: 'Brush Script MT', cursive; */
}

.fire_hand
{
    position: absolute;
    top: 30%;
    left: 45%;
    display: block;
    width: 200px;
    height: 200px;
}

.center_text
{
    top: 52%;
    left: 40%;
    position: absolute;
    color: white;
    font-size: 300%; 
}

.btn 
{
    position: absolute;
    display: inline-block;
    padding: 20px 100px;
    /* width: 250px;
    height: 70px; */
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    overflow: visible;
}
  
.btn:active 
{ 
    transform: translateY(4px);
}

#login_btn
{
    background-color: #8C1C13;
    border-color: #F0473A;
    left: 30%;
    bottom: 20%;
}

#signup_btn
{
    background-color: #F0473A;
    border-color: #FFA347;
    right: 30%;
    bottom: 20%;
}

